/** ResourceLoaderSkinModule: normalize,elements,content-tables,content-links,content-media,interface-message-box,interface-category,toc */
@media print {
	@import './print.less';
}

html {
	margin: 0;
	padding: 0 0 20px;
}

body {
	max-width: 100%;
	margin: 0 auto;
	font-family: @font-family;
    line-height: 1.5;
}

main {
	padding: 1em;

	& ~ nav,
	& ~ footer {
		padding: 1em;
	}
}

@media screen {
	html {
		background: @background-color-base;
	}

body {
		background: @background-color-base;
		color: @color-base;
		margin: 0 auto;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 250px 1fr; 
		grid-template-rows: auto 1fr;
		grid-template-areas: 
			"header header"
			"sidebar content";
	}

	.mw-header {
		grid-area: header;
	}

	.ridvan-sidebar {
		grid-area: sidebar;
		align-self: start;
	}

	#content {
		grid-area: content;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: @color-base;
		font-family: 'Linux Libertine', 'Times New Roman', 'Liberation Serif', 'Nimbus Roman', 'Noto Serif', 'Times', serif;
	}

	a {
		color: @color-link;

		&:visited {
			color: @color-link--visited;
		}
	}

	main {
		background: @background-color-article;
		padding: 5px 30px;
		margin-right: 23px;
	}
}
