@import 'mediawiki.skin.defaults.less';
@background-color-warning: #fdfcfb;
@background-color-base: #eaecf0;
@background-color-article: #fbfdfd;
@background-color-thumb: #fdfcfb;
@color-thumb: #170b06;
@color-base: #100617;
@color-gray: #522173;
@color-gray-2: #ced4da;
@color-link: #0645ad;
@color-link--active: #0645ad;
@color-link--visited: #663366;
@font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
@icon-filter: none;
@color-link-new: @color-link;
@color-link-stub: @color-link;
@color-link-external: @color-link;
@color-link-new--visited: @color-link--visited;
