@import 'mediawiki.skin.defaults.less';
@background-color-warning: #fdfcfb;
@background-color-base: #eaecf0
@background-color-article: #fbfdfd;
@background-color-thumb: #fdfcfb;
@color-thumb: #170b06;
@color-base: #100617;
@color-gray: #522173;
@color-gray-2: #9344c7;
@color-link: #2e9d96;
@color-link--active: #34b1a8;
@color-link--visited: #31a79f;
@font-family: 'Roboto',-apple-system,BlinkMacSystemFont,'Segoe UI','Oxygen','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
@icon-filter: none;
@color-link-new: @color-link;
@color-link-stub: @color-link;
@color-link-external: @color-link;
@color-link-new--visited: @color-link--visited;
