{{! Iterate through all list items in the 'views' portlet. }}
{{#data-portlets.data-views.array-items}}
    {{! Check for the 'edit' flag on the list item object itself. }}
    {{#is-ca-edit}}
        {{! If found, render the link(s) inside it. }}
        {{#array-links}}
            <a class="header-button header-button--edit" {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>
        {{/array-links}}
    {{/is-ca-edit}}
{{/data-portlets.data-views.array-items}}
