{{! Iterate through all list items in the 'views' portlet. }}
{{#data-portlets.data-views.array-items}}
    {{! Find the specific list item for 'talk'. }}
    {{#is-ca-talk}}
        {{! Within that list item, check if the page exists. }}
        {{^is-new}}
            {{! Within that list item, loop through its links. }}
            {{#array-links}}
                <a class="header-button header-button--talk" {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>
            {{/array-links}}
        {{/is-new}}
    {{/is-ca-talk}}
{{/data-portlets.data-views.array-items}}
