<div role="navigation" id="p-hybrid-actions" class="mw-portlet" aria-labelledby="p-hybrid-actions-label">
    <h3 id="p-hybrid-actions-label">More</h3>
    <div class="mw-portlet-body">
        <ul>
            {{! 1. Render data-views. The CSS will hide what is not needed. }}
            {{#data-portlets.data-views.array-items}}
                 <li id="{{id}}" class="{{class}}">{{#array-links}}<a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>{{/array-links}}</li>
            {{/data-portlets.data-views.array-items}}

            {{! 2. Render all items from data-actions. }}
            {{#data-portlets.data-actions.array-items}}
                <li id="{{id}}" class="{{class}}">{{#array-links}}<a {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>{{/array-links}}</li>
            {{/data-portlets.data-actions.array-items}}
        </ul>
    </div>
</div>
