{{#ridvan-content-talk}}
<div id="{{id}}" class="mw-portlet ridvan-talk-button">
    <div class="mw-portlet-body">
        <a href="{{href}}" title="{{text}}" class="ridvan-talk-link">
            {{text}}
        </a>
    </div>
</div>
{{/ridvan-content-talk}}
