<main id="content" class="mw-body">
	<header class="content__header">
		{{>ContentIndicators}}
		{{{html-title-heading}}}
	</header>
	{{>ContentBody}}
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}

	<div class="ridvan-category-container">
        {{#data-portlets}}
            {{>CategoryPortlet}}
        {{/data-portlets}}
    </div>
</main>
