<header class="mw-header">
    {{>Logo}}
    {{>Sitename}}
    {{>Search}}

    <div class="ridvan-header-tools">
        <!-- DESKTOP/SHARED BUTTONS -->
        {{>ContentEdit}}
        {{>ContentTalk}}
        {{>Notifications}}

        <!-- DESKTOP MENUS -->
        <div class="ridvan-desktop-menus">
            {{>Dropdown}}{{>ContentHybrid}}
            {{>Dropdown}}{{>PersonalMenu}}
        </div>

        <!-- MOBILE MENUS -->
        <div class="ridvan-mobile-menus">
            
            <!-- 1. MENU -->
            <div class="mw-portlet ridvan-mobile-dropdown">
                <input type="checkbox" id="cb-mob-menu" class="mw-checkbox-hack-checkbox">
                <label for="cb-mob-menu" class="mw-checkbox-hack-button">Menu ▾</label>
                <div class="mw-portlet-body">
                    <ul>
                        {{#ridvan-mobile-menu}}
                            {{>ListItem}}
                        {{/ridvan-mobile-menu}}
                    </ul>
                </div>
            </div>

            <!-- 2. TOOLS -->
            <div class="mw-portlet ridvan-mobile-dropdown">
                <input type="checkbox" id="cb-mob-tools" class="mw-checkbox-hack-checkbox">
                <label for="cb-mob-tools" class="mw-checkbox-hack-button">Tools ▾</label>
                <div class="mw-portlet-body">
                    <ul>
                        {{#ridvan-mobile-tools}}
                            {{>ListItem}}
                        {{/ridvan-mobile-tools}}
                    </ul>
                </div>
            </div>

            <!-- 3. LINKS -->
            <div class="mw-portlet ridvan-mobile-dropdown">
                <input type="checkbox" id="cb-mob-links" class="mw-checkbox-hack-checkbox">
                <label for="cb-mob-links" class="mw-checkbox-hack-button">Links ▾</label>
                <div class="mw-portlet-body">
                    <ul>
                        {{#ridvan-mobile-links}}
                             {{>ListItem}}
                        {{/ridvan-mobile-links}}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
