<div id="p-logo" class="mw-portlet" role="banner">
    {{#data-logos.icon}}
    <a href="{{link-mainpage}}">
        <img class="icon" src="{{.}}" alt="{{msg-sitetitle}}" width="40" height="40">
    </a>
    {{/data-logos.icon}}
</div>
