{{>Header}}
<div id="ridvan-page-container">
    {{>Sidebar}}
    <div id="ridvan-content-column">
        {{>Notices}}
        {{>Content}}
        {{^is-mainpage}}
             {{>CategoryPortlet}}
        {{/is-mainpage}}
    </div>
</div>
{{>Footer}}
