{{>Header}}
<div id="ridvan-page-container">
    {{>Sidebar}}
    <div id="ridvan-content-column">
        {{>Notices}}
        {{>Content}}
        {{>CategoryPortlet}}
    </div>
</div>
{{>Footer}}
